*{margin:0; padding:0;outline:0;}
body{font-family:arial; 
font-size:14px;line-height:18px;
color:#000;

}


.template{width:960px; 
margin:0 auto; 
}

.clear{overflow:hidden;}
.headersection{background-color: #22B144;}
.header_section{
	background-color: #22B144;
    color: #fff;
    height: 133px;
 }
 
 .logo{    
	width: 360px;
    float: left;
    height: 171px;}
 
 .logo img{
	    float: left;
    width: 385px;
    padding-left: 20px;
    padding-bottom: 0px;
    margin-top: -90px;
    margin-right: 0;
    height: 446px;
    margin-left: -143px;
 }

 
 .social{width: 250px;
    float: right;
    padding-top: 18px;
    padding-right: 10px;}
 

 .social i { font-size:35px;
 margin-top:40px;
 color:#ddd;
 padding:5px 10px;
 line-height:30px;
 border-radius:50%;
 margin-right:1px;}
 
  .social i:hover{
	  background-color:#514037;
	  color:black;
  }
 
 .header_section h2{
	 font-size: 30px;
    padding-top: 26px;
    text-align: center;}
	
	
	.navsection  {
	 background-color: #709186;
    padding: 0px;
    min-height: 69px;
	
}
	
	.navsection ul{ margin:0;padding:0; list-style:none;
	}
	
	.navsection ul li{display:block; float:left;
       	position:relative; }
	
	.navsection ul li a{
		    
			display: block;
			color: blue;
			font-size: 20px;
			font-weight: bold;
			margin: 15px;
			padding: 8px 30px;
			border: 1px solid #B9B9B8;
			text-decoration: none;
			z-index:99;
	}
	
	
	.navsection ul li a:hover{
		background-color:#005500;
		color:#000;
	}
	#active{
		background-color:#FFF;
	}
	
	.navsection ul  li ul {position:absolute; left:-9999999px;
	
	z-index:999;
	}
	
	.navsection ul  li:hover ul{left:0px;

	}
	.navsection ul  li ul li{background-color:#333333;
	width:200px;
	border-bottom:1px solid #446655;
	border-left:0px solid #446655;
	float:none;
	border-right:0px solid #446655;
	border-radius:8px;
	padding:10px;
	text-align:center;}
	
	
	.navsection ul  li ul  li a{padding:5px; 
	margin:5px;margin-bottom:2px;
	border:0px;
	color:yellow;}
	
	.navsection ul  li ul  li a:hover{background-color:lightblue;}

	
	
	.contentsection{
		background-color:#fff;
		}
	
	.maincontent{ 
    background-color: #709186;
    float: left;
    margin: 0px 15px 15px -1px;
    padding: 10px 20px;
    width: 650px;
    border: 1px solid #545453;
	}
	
	.samepost{}
     .samepost h2,.about_us h2{
		 border-bottom:2px solid #9B999A;
		 font-size:25px;
		 margin-bottom:10px;
		 padding:10px;
	 }
	.samepost img {
		background-color:#B9B9B8;
		border:1px solid #555555;
		float:left;
		margin-right:10px;
		padding:5px;
		width:200px;
	}
	
	.samepost p{
	font-size: 16px;
    line-height: 23px;
    text-align: justify;
    color: #000;
	}
	
	.readmore{ float:right;
	margin-top:10px;
	}

	.readmore a{
		background-color:#fff;
		border: 1px solid #9b999a;
		border-radius:3px;
		color:#333;
		display:black;
		font-size:16px;
		padding:4px 8px;
		text-decoration:none;
	}

		.readmore a:hover{
			color:blue;
		}
		
		
		.relatedarticels{
	
		}
		.relatedarticels h2{
			font-size: 34px;
    text-decoration: underline;
    padding: 8px;
    margin: 5px;
    padding-left: 0px;
		}
		.relatedarticels img{
			width: 270px;
			float:left;
			height: 100px;
			padding: 0px;
			border: 1px solid #B9B9B8;
			background-color: #FFF;
			margin-left: 34px;
			margin-bottom: 10px;
			margin-top: 13px;	
		  }
		.relatedarticels img:hover{opacity:0.5;}
		
		
	.sidebar{width: 230px;
    background-color: #B9B9B8;
    float: right;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid #709186;
    height: 894px
	}
	.samesidebar{margin-bottom:10px;}
	
	.samesidebar h2{ background-color:#709186; 
	border-bottom:2px solid #555555;
	color:#fff;margin-bottom:8px;
	padding:10px;} 
	
	
	.samesidebar ul{ margin:0;padding:0;
	list-style:none;}
	
	.samesidebar ul li {
		font-size: 15px;
    padding: 5px 8px;
	padding-left:0;
    border-bottom: 1px dotted #708FD1;}
	
	.samesidebar ul li:last-child{border-bottom: 0px dotted #708FD1;}
	
	.samesidebar ul li a{text-decoration: none;
	color:#709186;
	}
	 
	.samesidebar ul li a:hover{color:red;}
	.popular{}
	.popular h3{
		font-weight:normal;
		font-size: 20px;
    padding-left: 2px;
    border-bottom: 1px dotted #3A5068;
    margin-bottom: 6px;
    color: #000;
	}
	
	.popular h3:hover{color:blue;
	text-decoration:none;}
	.popular img{        
	width: 93px;
    height: 45px;
    background-color: #fff;
    padding: 1px 2px;
    margin-right: 8px;
    float: left;
    margin-top: 8px;
    border-radius: 6px;}
	.popular p{text-align: justify;}
	
	
	.about_us{}
	.about_us img{
		background-color: #FFF;
		border: 1px solid #B9B9B8;
		float: left;
		margin-right: 10px;
		padding: 0px;
		width: 215px;
		height: 128px;
		transition:3s;
		
		
	}
	.about_us p{font-size: 18px;
				line-height: 26px;
				margin-bottom: 5px;
				text-align: justify;
				}
	
	.about_us:hover img{transform:rotate(360deg);
	/*transform:skew(30deg)
	transform:translate(100px);
	transform:scale(1.5);*/
	}
	
  .adress{float:left;
		  background-color:;
		  padding: 10px;}
  
  .adress h2{
	  background-color:#545453;
	  padding:10px;
	  color:#00A2E8;
	  width:300px;
	  font-weight:bold;
  }
  

	.section_tittle h1{
				text-align:left;
				color:#FFFFFF;
			}
			
	
	
	.contact{
								
								padding-top:50px;
								padding-bottom:50px;
							}
							
			.form_elements{ float:left;
				width:250px;
				margin:10px auto;
				
			 
			}
			
			.form_elements form{
				background-color:#B9B9B8;
				color:white;
				padding:20px;
				border-radius:29px;
			}
			
			.form_elements input{
				width:100%;
				height:40px;
				
			}
	
	
	
	
	.footersection{height:150px;
	background-color:#545453;
	}
	.indexmenu{}
	.indexmenu ul{
		padding:0;margin:0;text-align:center;
		}
	
	.indexmenu ul  li{
		float:left;display:inline-block;
		margin:5px;
		padding-top:10px;
		
	}
	.indexmenu ul  li a{
	
			color: #709186;
			font-size: 15px;
			font-weight: bold;
			margin: 10px;
			padding: 2px 5px;
		 text-decoration: none;
		
	}
	.indexmenu ul  li a:hover{
		
		color:blue;
		font-style:italic;
		
	}
	
	.footermenu{}
	.footermenu ul{padding:0;margin:0;
	text-align:center;}
	
	.footermenu ul li{
		float:right;display:inline-block;
		margin:5px;
		padding-top:10px;
	}
	.footermenu ul li a{display:inline-block;
			color: #B9B9B8;
			font-size: 15px;
			font-weight: bold;
			margin: 5px;
			padding: 2px 3px;
			}
	
	
	.footermenu ul li a:hover{
	 color:#B5E61D;
	 font-style:underline;
	}
	
	
	
	
	.copyright{padding:0;margin:0;}
	.copyright p{
		 text-align:center;
		 font-size:20px;
		 color:#709186;
		 margin-bottom:5px;
		
	}
	.fixedicon{position: fixed;
    left: 0;
    top: 134px;
    width:160px;
	
		
	}
	.fixedicon ul {}
	.fixedicon ul li {
  margin-bottom: 7px;
  margin-left: 5px;
}
.fixedicon ul li a {
	position:scroll;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 37px;
  text-decoration: none;
}
	.fixedicon ul  li a:hover{}
	.parag{}
	.parag p{font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
    text-align: justify;
	}
	
	.fixedicon img {width: 62px;
    margin-bottom: 5px;
	border:1px solid #fff;
	border-radius:50%;}
	
	.effect{margin:0px auto;
	width: 350px;
    height: 300px; 
	position:relative;
	overflow:hidden;}
	
	.effect img{width:350px;
    height: 300px;
	}

	
	.shadow{
		background-color:rgba(0,0,0,.6);
    height: 100%;
    width: 100%;
    position:absolute;
	top:-100%;
	transition:1s;
	}
	
	.effect:hover .shadow{top:0px;}
	
	.hovertext{
		width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #FFF;
    margin-top: 24%;
    border-radius: 5px;
	}
	.hovertext h2{color: #fff;
   border:none;
    }
	
	.hovertext  p{color: #FFF;
    margin-top: 5px;
    margin-left: 10px;
    }
	
	
	
	
	